jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1  # Change region to ap-south-1

      - name: Get Git Commit SHA
        id: sha
        run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Log in to Amazon ECR
        run: |
          aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin <account-id>.dkr.ecr.ap-south-1.amazonaws.com

      - name: Build Docker Image
        run: docker build -t taskmaster:${{ env.SHA }} .

      - name: Tag Docker Image
        run: docker tag taskmaster:${{ env.SHA }} <account-id>.dkr.ecr.ap-south-1.amazonaws.com/taskmaster:${{ env.SHA }}

      - name: Push Docker Image to ECR
        run: docker push <account-id>.dkr.ecr.ap-south-1.amazonaws.com/taskmaster:${{ env.SHA }}

      - name: Update ECS Service
        run: |
          aws ecs update-service --cluster <cluster-name> --service <service-name> --force-new-deployment
